/* actualizacionDeDatosAdministrativo.css */
body {
    background-color: #042d3f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .formulario {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="text"], 
  select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  button {
    background-color: #af184b;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8e133d;
  }
  
  #volver {
    margin-top: 10px;
  }
  